body{
    font: 400 16px / 24px Arial;
}
.main_width{
    width: 900px;
}

.nav_black{
    background-color: black;
    color: white;
}
.nav_cloud_par{
    color: black;
    
}
.header_banner{
    background: url(images/Layer-2.png); 
}
.header_banner_pic{
    background: url(images/Warstwa-4.png);
}
.header_banner_par{
    color: white;
}
.history{
    background-color: white;
}
.work{
    background-color: black;
    color: white;
}