@media#{$mobile}{
//header
  .nav_black{
    position: relative;
  }

  .nav_logo{
    position: absolute;
    top: 20px;
    left: 10px;
  }

  .nav_cloud, .nav_cloud_little1, .nav_cloud_little2, .nav_cloud_little3{
    display: none;
  }

  .menu{
    list-style-type: none;
    position: absolute;
    top: 10px;
    right: 20px;
    z-index: 99999;
    i{
      cursor: pointer;
      .fa-bars {
        font-size: (5em / 3);
        line-height: (3em / 4);
        vertical-align: -15%;
      }
    }
    li{
      color: white;
      a{
        display: none;
        &.show{
          text-decoration: none;
          width: 30%;
          text-align: center;
          text-transform: uppercase;
          padding: 10px;
          display: block;
          color: white;
        }
      }
    }
  }

  .header_banner{
    h3{
      margin-left: 10px;
    }
    .header_banner_par{
      margin-left: 10px;
    }
  }

//history
  .history_descr{
    h3{
      margin-left: 10px;
    }
  }
  
  .history_words{
    margin: 10px;
  }





}
